<div class="wallet-subs">
    <h1>Digital Wallet & Subscriptions Tracker</h1>
    <div class="wallet">
        <h2>Digital Wallet</h2>
        <h3 class="wallet-h">
            Wallet Amount: <span class="wallet-s">&#8377;{{this.money}}.00</span>
        </h3>
        <button class="wallet-b" type="button" {{on "click" this.addMoney}}>Add Money</button>
    </div>
    <div class="subs">

    </div>
</div>